* {
  padding:0;
  margin:0;
}
body {
  display:block;
  min-width:100%;
  min-height:100%;
  text-align:center;
}
/* Navigation */
.nav {
  display:block;
  min-width:100%;
  border-bottom:0.2em solid grey;
}
.nav__menu {
  list-style:none;
  text-align:left;
  margin-left:2.5%;
}
.nav__menu__items {
  display:inline-block;
  text-align:left;
  padding:0.5em 0.7em;
}
/* Introduction */
.intro {
  display:block;
  min-width:100%;
  padding:3.8% 0%;
}
/* Skill Section */
.skillset {
  display:block;
  width:100%;
  padding-bottom:2.5%;
}
/* Project Section */
.project {
  display:block;
  width:100%;
  padding-bottom:2.5%;
  }
.project__row {
  display:block;
  min-width:100%;
  overflow:hidden;
  }
.project__row a {
  text-decoration:none;
}
.project__row a:hover, .project__row a:focus {
  font-style: italic;
}
.project__row__project--larger, .project__row__project--smaller {
  display:inline-block;
  float:left;
  border-top:0.2em solid grey;
}
.project__row__project--larger {
  width:55%;
  max-width:55%;
}
.project__row__project--smaller {
  width:45%;
  max-width:45%;
}
.project__row__project--larger img, .project__row__project--smaller img {
  width:100%;
  height:18em;
  display:block;
  border:none;
}

/* Footer/Contacts */
.footer {
  display:block;
  min-width:100%;
  padding-bottom:2.5%;
  border-top:0.2em solid grey;
}
